

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Parent_Control</title>    
    <link rel="stylesheet" href="~/css/site.css" />
</head>

 <body class="custom-background">
    <div id="wrapper" class="container hfeed">
        <header id="header" class="clearfix" role="banner">
            <div id="logo" class="clearfix">
                <h1 class="site-title"><a href="/" rel="home">SAFETY</a></h1>
                <p class="site-description">PARENT CONTROL</p>
            </div>            
        </header>
        <div id="wrap" class="clearfix">
            <section id="content" role="main">
                <div class="clearfix">
                    <div class="widget">
                        @RenderBody()
                    </div>
                </div>
            </section>
       
            <section id="sidebar" class="clearfix" role="complementary">
                <aside class="widget clearfix">
                    @using (Html.BeginForm("GetNewData", "Home", FormMethod.Post))
                    {
                        @Html.RadioButton("period", "day", true)
                        <span>за день</span> <br />
                        @Html.RadioButton("period", "week")
                        <span>за неделю</span> <br />
                        @Html.RadioButton("period", "month")
                        <span>за месяц</span>
                        <input type="submit" value="Обновить"/>
                    }
                </aside>
            </section>
        </div>
    </div> 
    <div id="footer-wrap" class="container">
        <footer id="footer" class="clearfix" role="contentinfo">
            <div id="footer-text">
                <span class="credit-link"> Designed by Permiakov Roman</span>
            </div>
        </footer>
    </div>    
</body>
</html>
