@using Web_Parent_Control.Controllers

@model List<SiteModel>;
@*@functions
{
    public void ChangeStatus(int id)
    {
        var person = Model.FirstOrDefault(x => x.Id == id);
        if (person.Flag == false)
        {
            person.Flag = true;
        }
        else person.Flag = false;
    }    
}*@

<section id="content" role="main">
    <div class="clearfix">
        <div class="widget">
            <div style="font-size:14px; position: relative; min-height: 200px; padding: 10px 20px;">
                <div class="scroll-table">
                    <table style="border-collapse: collapse;  border-spacing: 0;">
                        <thead>
                            <tr>
                                <th class="col00"><center>Date</center></th>
                                <th class="col11"><center>Site</center></th>
                                <th class="col22"><center></center></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scroll-table-body">
                        <table style="border-collapse: collapse;  border-spacing: 0;">
                            <tbody>

                                @foreach (var site in Model)
                                {
                                    <tr>
                                        <td class="col0"><center>@site.Date</center></td>
                                        <td class="col1"><center><label>@site.Url</label></center></td>
                                        <td class="col2">
                                            <center>
                                                @if (@site.Flag == false)
                                                {
                                                    <input class="btn-false" type="button" value="Блокировать" onClick='location.href="https://localhost:44309/Home/Action?id=@site.Id"'>
                                                }
                                                else
                                                {
                                                    <input class="btn-true" type="button" value="Разблокировать" onClick='location.href="https://localhost:44309/Home/Action?id=@site.Id"'>
                                                }

                                            </center>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sidebar" class="clearfix" role="complementary">
    <aside class="widget clearfix">
       @using (Html.BeginForm("GetNewData", "Home", FormMethod.Post))
       {
            <div>
                <center>
                    @Html.RadioButton("period", "day", true)
                    <span>за день</span> <br>
                    @Html.RadioButton("period", "week")
                    <span>за неделю</span> <br>
                    @Html.RadioButton("period", "month")
                    <span>за месяц</span><br>
                </center>                
            </div>
            <center>
                <input class="btn-true" type="submit" value="Применить фильтр" />
            </center>
        }<br><br>
        @using (Html.BeginForm("History", "Home", FormMethod.Get))
        {
            <center><input class="btn-true" type="submit" value="Журнал" /></center>

        }<br>
        @using (Html.BeginForm("Downloads", "Home", FormMethod.Get))
        {
            <center><input class="btn-true" type="submit" value="Загрузки" /></center>
        }<br>
        @using (Html.BeginForm("Downloads", "Home", FormMethod.Get))
        {
            <center><input class="btn-true" type="submit" value="Загрузки" /></center>
        }<br>
    </aside>
</section>



